!!!
%html
  %head
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no', name: 'viewport' }
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || 'Sorry :('
    %meta{name: 'description', content: current_page.data.description || 'Sorry is a studio in Santa Monica specializing in Product Design & Development.' }
    = stylesheet_link_tag :site
    = javascript_include_tag :all
    %link{ rel: 'mask-icon', href: 'sorry-icon.svg', color: '#222222' }
    %link{ rel: 'apple-touch-icon', href: 'touch-icon-iphone.png' }
    %link{ rel: 'apple-touch-icon', sizes: '76x76', href: 'apple-touch-icon-76.png' }
    %link{ rel: 'apple-touch-icon', sizes: '120x120', href: 'apple-touch-icon-120.png' }
    %link{ rel: 'apple-touch-icon', sizes: '152x152', href: 'apple-touch-icon-152.png' }
  %body{ class: page_classes }
    .wrapper
      %header
        .container
          = link_to 'index.html', class: 'logo' do
            Sorry
            = image_tag 'logo.png'
          %nav
            %ul
              %li= nav_link_to 'Work', 'work.html'
              %li= nav_link_to 'About', 'about.html'
              %li= nav_link_to 'Contact', 'contact.html', class: 'button'
      .main.container
        = yield
      // if you're on the contact page, show the map under the footer
      - if current_page.path == 'contact.html'
        = partial 'map'
      %footer
        .container
          %div
            %span.city Santa Monica, CA
            %span.copyright &copy; Copyright #{Date.today.year}
            %span.name Sorry :(
