---
title: About Sorry :(
description: Product Design & Development in Santa Monica, CA. We're just a small team of cool people building cool things for cool companies.
---

.container-inner
  %h1 About Sorry
  %h2 Sorry is a design & development studio in Santa Monica, CA. We work with companies doing great things.
  %p We cut our teeth working for household brands at some of the best agencies and startups in the world. We live to bring product ideas to life, from a napkin sketch to a launched product.
  %hr
%h3 Services
.clearfix
  .service
    = image_tag 'services-strategy.png', alt: 'Product Strategy & Consulting'
    %h4 Product Strategy
    %ul
      %li Advice & Consulting
      %li Competitive Analysis
      %li Workshops
  .service
    = image_tag 'services-design.png', alt: 'Product Design & Prototyping'
    %h4 Design
    %ul
      %li User Experience
      %li User Interface Design
      %li Prototyping
  .service
    = image_tag 'services-development.png', alt: 'Front-end Development, iOS & Backend Development'
    %h4 Development
    %ul
      %li Front-end Development
      %li Ember.js
      %li iOS Apps
      %li Ruby on Rails Development
.container-inner
  %hr
  %h3 Clients
  .clients.clearfix
    .client
      = image_tag 'clients-microsoft.png', alt: 'Microsoft', class: 'microsoft'
    .client
      = image_tag 'clients-ford.png', alt: 'Ford', class: 'ford'
    .client
      = image_tag 'clients-stussy.png', alt: 'Stussy', class: 'stussy'
    .client
      = image_tag 'clients-usc.png', alt: 'USC', class: 'usc'
    .client
      = image_tag 'clients-ap.png', alt: 'Associated Press', class: 'ap'
    .client
      = image_tag 'clients-grubmarket.png', alt: 'GrubMarket', class: 'grubmarket'
    .client
      = image_tag 'clients-rgi.png', alt: 'RGI Informatics', class: 'rgi'
    .client
      = image_tag 'clients-hitrecord.png', alt: 'HitRecord', class: 'hitrecord'
  %p Want to join this list of companies and work on something great together? #{link_to 'Contact us now', 'contact.html'}