---
title: Work :(
---

%h1 Work

.projects
  .project.clearfix
    = image_tag 'project-thumb-spinlister.png'
    %h2 Spinlister
    %p Rent a bike from someone just like you on the “AirBnB for bikes.”
    %p.meta-data 2014-2015 &middot; Strategy, Design, Development
  .project.clearfix
    = image_tag 'project-thumb-stussy.png'
    %h2 Stussy
    %p A street-wear brand with 30 year old Orange County surfer roots.
    %p.meta-data 2014-2015 &middot; Strategy, Design, Development
  .project.clearfix
    = image_tag 'project-thumb-adopttogether.png'
    %h2 AdoptTogether
    %p A Crowdfunding platform for families trying to adopt.
    %p.meta-data 2013-2015 &middot; Strategy, Design, Development
  .project.clearfix
    = image_tag 'project-thumb-meddevicejobs.png'
    %h2 MedDeviceJobs
    %p A job board for the medical device industry.
    %p.meta-data 2010-2012 &middot; Strategy, Design, Development
  .project.clearfix
    = image_tag 'project-thumb-happ.png'
    %h2 Happ
    %p Discover what’s happening around you.
    %p.meta-data 2015 &middot; Strategy, Design, Development
%p Some work is protected by NDA. To see this work, contact us and we’ll send you a secret project.
%p Do you want to work on something great together? #{link_to 'Contact us now', 'contact.html'}
